*{
    margin: 0 auto;
}
.form{
    display: flex;
    flex-direction: column;
}
input {
    margin-bottom: 0.8rem;
    width: 80%;
    box-sizing: border-box;
    border-radius: 8px;
}
.calcular{
    border: none;
    padding: 0.45rem;
    cursor: pointer;
}
.section{
    background-color: burlywood;
    width: 400px;
    height: 500px;
}

